aside {
  background: $card-background;
  margin: 10px;
  padding: 20px 10px;
  border-radius: $radius;
  display: flex;
  justify-content: center;
  height: 97vh;
  figure {
    img {
      max-width: 130px;
      cursor: pointer;
    }
    .no-text {
      display: none;
      @include ipad {
        display: block;
        width: 40px;
      }
    }
    .text-image {
      @include ipad {
        display: none;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 30px;
      @include ipad {
        gap: 15px;
      }
      a {
        display: flex;
        gap: 10px;
        align-items: center;
        i {
          @include ipad {
            font-size: 18px;
          }
        }
        span {
          @include ipad {
            display: none;
          }
        }
      }
    }
  }
}
