.playing {
  position: fixed;
  bottom: 0;
  background: linear-gradient(to right, black, #01703c);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  .info {
    display: flex;
    align-items: center;
    gap: 30px;
    p {
      color: #d6eab5;
      margin-bottom: 5px;
    }
    img {
      width: 90px;
      border-radius: 50%;
    }
  }
}

.animate {
  animation: turn 3s infinite linear;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
